.setting_input{
background-color:#fff;
color:#444;
padding:3px 20px;
border:0;
margin:0px 10px;
font-size:15px;
}
.setting_table th{
text-align:right;
}
.setting_table td ,tr,th{
margin-top:0;
margin-bottom:0;
padding-top:0;
padding-bottom:0;
height:100%;
overflow:hidden;
}
.submit_setting_btn{
height:100%;
margin-top:0;
margin-bottom:0;
}
